version: '3.8'

services:
  moneychange_api:
    container_name: moneychange_api
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    expose:
      - '3000' # faqat docker network ichida
    ports:
      - '3001:3000' # HOST:CONTAINER (nginx -> 3001)
    depends_on:
      - moneychange_db
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:3000/health || exit 1']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    networks:
      - moneychange_net

  moneychange_db:
    container_name: moneychange_db
    image: ankane/pgvector:latest
    env_file:
      - .env
    ports:
      - '5464:5432' # HOST postgres port (faqat admin uchun)
    volumes:
      - moneychange_pgdata:/var/lib/postgresql/data
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: unless-stopped
    networks:
      - moneychange_net

volumes:
  moneychange_pgdata:

networks:
  moneychange_net:
    driver: bridge
